* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
}
.header, footer {
    background: rgba(255, 113, 67, 0.27);
    padding: 38px 0 48px;
}
.headerflex, .footerflex, .about, .subscribe, .planflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    max-width: 1070px;
    margin: 0 auto;
}
.navli {
    display: inline-block;
    
}
.navli:not(:first-of-type) {
    margin-left: 49px;
}
.navlink {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #696871;
    text-decoration: none;
    font-family: "dm sans";
}
.navlink:hover {
    color:black;
    transition: 300ms;
}
.button {
    width: 212.39px;
    height: 60px;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "dm sans";
}
.buttonorange {
    background:#FF7143; 
}
.buttonorange:hover {
    background: #f67c53;
    transition: 500ms;
}
.about {
    
    margin: 104px auto 85px;
}
.abouttitle {
    font-family: "dm sans";
    font-weight: 700;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
    max-width: 467px;
    margin-bottom: 30px;
}
.abouttext {
    font-family: "mulish";
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    max-width: 410px;
    margin-bottom: 50px;
}
.button1 {
    background: #5454D4;
}
.button2 {
    background: none;
    color: #5454D4;
    border: 1px solid #5454D4;
    margin-left: 35px;
}
.footer {
    padding: 53px;
}
.subscribe {
    margin-bottom: 85px;
}
.subscribetitle {
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56316px;
    color: #19191B;
    margin-bottom: 38px;
    font-family: "dm sans";
}
.input {
    width: 302px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #5454D4;
    padding-left: 14px;
    box-sizing: border-box;
    margin-right: 39px;
    font-family: "dm sans";
}
.input::placeholder, input {
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #000000;

}
.input:focus {
    outline: none;
}
.plan {
    margin-bottom: 132px;
}
.plantitle {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
    max-width: 504px;
    margin-bottom: 110px;
    font-family: "dm sans";
}
.item {
    width: 330px;
    background: #F8F8F8;
    border-radius: 10px;
    text-align: center;
    padding: 34px 0 27px;
}
.item:hover {
    background: #FF7143;
    box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
    transition: 500ms;
}
.itemtext {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.562737px;
    color: #696871;
    font-family: "dm sans";
}
.item:hover .itemtext, .item:hover .itemtitle, .item:hover .itemli {
    color: white;
    transition: 500ms;
}
.itemtitle {
    font-weight: 700;
    font-size: 60px;
    line-height: 56px;  
    letter-spacing: -1.03448px;
    color: #1D293F;
    margin: 22px 0 28px;
    font-family: "dm sans";
}
.itemtitle span {
    font-size: 28px;
}
.itemli {
    list-style: none;
    font-size: 17px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #696871;
    font-family: "mulish";
}
.buttonitem {
    width: 285px;
    background: white;
    color: #5454D4;
    margin: 36px;
}
.item:hover .buttonitem {
    background: #9F3919;
    color: white;
    transition: 500ms;
}